:root {
  /* primary colors */
  --color-primary-red: hsla(0, 100%, 67%);
  --color-primary-yellow: hsl(39, 100%, 56%);
  --color-primary-teal: hsl(166, 100%, 37%);
  --color-primary-blue: hsl(234, 85%, 45%);
  /* gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* neautral */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-lavender-light: hsl(241, 100%, 89%);
  --color-grey-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  margin-top: 150px;
  text-align: center;
  background-color: var(--color-pale-blue);
}

h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

svg {
  margin-right: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 800px;
  height: auto;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  background-color: var(--color-white);
  border-radius: 30px;
}

.result {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: minmax(200px, auto);
  color: var(--color-white);
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  padding: 2rem;
  border-radius: 30px;
}

.res-title {
  color: hsl(252, 100%, 80%);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.score {
  display: grid;
  align-items: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  margin: 0 auto;
  margin-top: -8.5rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.score-point {
  font-size: 4.5rem;
  margin-bottom: -3rem;
  font-weight: 800;
}

.score-point:first-of-type + p {
  color: hsl(252, 100%, 80%);
  font-weight: 700;
  margin-top: -2rem;
}

.score-result {
  color: hsl(252, 100%, 80%);
  align-self: center;
  margin-top: -20px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.summary {
  background-color: white;
  padding: 2rem;
  text-align: left;
  border-radius: 100px;
}

.sum-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tasks {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: auto;
  gap: 15px;
}

.tasks > * {
  display: flex;
  padding: 1.5rem;
  text-transform: capitalize;
  justify-content: space-between;
}

.reaction {
  background-color: rgba(255, 87, 87, 0.15);
  border-radius: 20px;
}

.memory {
  background-color: hsl(39, 100%, 56%, 0.15);
  border-radius: 20px;
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.15);
  border-radius: 20px;
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.15);
  border-radius: 20px;
}

.icon-text {
  display: flex;
}

.icon-text + p {
  font-weight: 700;
}

.icon-text + p > * {
  color: hsla(224, 30%, 27%, 0.349);
}

.reaction-color {
  color: var(--color-primary-red);
}
.memory-color {
  color: var(--color-primary-yellow);
}
.verbal-color {
  color: var(--color-primary-teal);
}
.visual-color {
  color: var(--color-primary-blue);
}

.btn {
  border: none;
  font-size: 1.2rem;
  background-color: var(--color-grey-blue);
  color: var(--color-white);
  font-weight: 700;
  justify-content: space-around;
  margin-top: 2rem;
  border-radius: 100px;
  cursor: pointer;
}

.btn:active {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media only screen and (max-width: 345px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}
